@import 'static/styles/vars.scss';
@import 'static/styles/mixins.scss';

.header {
  position: sticky;
  top: 0;
  z-index: $header-z-index;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;

  @include mq($until: tablet) {
    padding: 16px;
  }

  .ant-page-header-heading-extra {
    float: right;
    width: auto;
    padding: 0;

    @include mq($until: mobile) {
      display: none;
    }
  }
}
